<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/" class="<%= route_name === 'home' ? 'active' : '' %>">Shop</a></li>
            <li class="main-header__item"><a href="/admin/products/add" class="<%= route_name === 'products.add' ? 'active' : '' %>">Add Product</a></li>
        </ul>
    </nav>
</header>

<main>