<form action="/cart/add" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrf_token %>">
    <input type="hidden" name="product_id" value="<%= product._id %>">
    <button type="submit" class="btn">Add to Cart</button>
</form>