APP_PORT=8180
APP_BASE_URL=http://127.0.0.1:8180

MONGO_HOST=null
MONGO_PROVIDER=local
MONGO_PORT=27017
MONGO_USERNAME=root
MONGO_PASSWORD=null
MONGO_DATABASE=test

MAIL_HOST=smtp.zoho.com
MAIL_PORT=465
MAIL_USERNAME=<example@example.com>
MAIL_PASSWORD=null
MAIL_ENCRYPTION=true
MAIL_FROM_ADDRESS=<example@example.com>
MAIL_FROM_NAME="Example Name"